# checking paus' funky file

In [12]:
import os
import numpy as np
import tables as tb
import pandas as pd
from invisible_cities.io.dst_io           import load_dst, load_dsts, df_writer
# import check_lengths and check how it works on the tables here
os.environ['ICTDIR']='/home/e78368jw/Documents/NEXT_CODE/IC'
from invisible_cities.cities.components import check_lengths

In [4]:
file = 'Bi214_CATHODE_SURF_NEXT100_0000.sophronia.h5'
RECO = load_dst(file, 'RECO', 'Events')
DST = load_dst(file, 'DST', 'Events')
evtinfo = load_dst(file, 'Run', 'events')
display(RECO)
display(DST)
display(evtinfo)

,event,time,npeak,Xpeak,Ypeak,nsipm,X,Y,Xrms,Yrms,Z,Q,E,Qc,Ec,track_id,Ep
0,0,1.434202e+06,0,84.813773,163.882205,1,-126.975,-247.675,0.0,0.0,660.045456,15.594203,72.000000,-1.0,0.000183,-1,-1.0
1,0,1.434202e+06,0,84.813773,163.882205,1,88.725,152.625,0.0,0.0,666.764139,8.463768,1789.276581,-1.0,0.004442,-1,-1.0
2,0,1.434202e+06,0,84.813773,163.882205,1,88.725,168.175,0.0,0.0,666.764139,7.884058,1666.723419,-1.0,0.004131,-1,-1.0
3,0,1.434202e+06,0,84.813773,163.882205,1,57.625,168.175,0.0,0.0,670.186176,6.260870,357.981558,-1.0,0.000885,-1,-1.0
4,0,1.434202e+06,0,84.813773,163.882205,1,57.625,199.275,0.0,0.0,670.186176,7.014493,401.071921,-1.0,0.000996,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83823,67,1.343911e+08,1,-194.764173,143.872679,1,-220.275,152.625,0.0,0.0,1234.877782,5.217391,343.178788,-1.0,0.000884,-1,-1.0
83824,67,1.343911e+08,1,-194.764173,143.872679,1,-220.275,168.175,0.0,0.0,1234.877782,8.173913,537.646794,-1.0,0.001388,-1,-1.0
83825,67,1.343911e+08,1,-194.764173,143.872679,1,-220.275,183.725,0.0,0.0,1234.877782,7.246377,476.637243,-1.0,0.001232,-1,-1.0
83826,67,1.343911e+08,1,-194.764173,143.872679,1,-204.725,168.175,0.0,0.0,1234.877782,7.478261,491.889631,-1.0,0.001262,-1,-1.0
83827,67,1.343911e+08,1,-194.764173,143.872679,1,-204.725,183.725,0.0,0.0,1234.877782,5.043478,331.739497,-1.0,0.000854,-1,-1.0

,event,time,s1_peak,s2_peak,nS1,nS2,S1w,S1h,S1e,S1t,...,Nsipm,DT,Z,Zrms,X,Y,R,Phi,Xrms,Yrms
0,0,1.434202e+06,0,0,1,4,475.0,74.0,343.0,10000.0,...,60,776.487183,675.543762,5.600295,84.813773,163.882204,184.528461,1.093224,58.703473,68.342657
1,0,1.434202e+06,0,1,1,4,475.0,74.0,343.0,10000.0,...,69,1001.489807,871.296082,8.095852,-367.944892,256.026258,448.255383,2.533672,70.833883,51.851566
2,0,1.434202e+06,0,2,1,4,475.0,74.0,343.0,10000.0,...,74,1356.481445,1180.138794,7.598098,403.825193,-168.658599,437.630563,-0.395631,83.643768,39.218144
3,0,1.434202e+06,0,3,1,4,475.0,74.0,343.0,10000.0,...,94,1452.494385,1263.670044,7.263157,409.009175,-133.712256,430.310903,-0.315965,55.692141,55.652847
4,1,2.309077e+06,0,0,1,2,500.0,47.0,246.0,10025.0,...,48577,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,62,1.256642e+08,65535,0,0,1,NaN,NaN,NaN,NaN,...,1700,NaN,NaN,7.344354,-316.365341,197.088192,372.734200,2.584450,118.617570,116.837327
114,64,1.290067e+08,0,0,1,1,800.0,638.0,2905.0,10150.0,...,1630,1362.336060,1185.232300,10.095336,273.286513,-276.741629,388.936303,-0.791680,116.520581,116.961186
115,65,1.314511e+08,0,0,1,1,375.0,22.0,98.0,10000.0,...,89,1311.481567,1140.988892,21.941271,71.434416,377.707483,384.403198,1.383878,118.436642,198.081814
116,66,1.322779e+08,0,0,1,1,475.0,51.0,233.0,10000.0,...,170,1359.482788,1182.750000,12.919433,248.206976,41.201296,251.603358,0.164496,93.480283,80.366062
117,67,1.343911e+08,0,0,1,1,650.0,105.0,536.0,10000.0,...,2304,1396.488159,1214.944702,18.114924,-194.764173,143.872680,242.141345,2.505362,128.177013,131.743854

    evt_number     timestamp
0            0    1434201975
1            1    2309076860
2            4    9143824480
3            5   11992599118
4            6   13686038324
..         ...           ...
57          62  125664179488
58          64  129006720051
59          65  131451132189
60          66  132277876835
61          67  134391103439

[62 rows x 2 columns]

# check which events are in the evtinfo but not the reco

In [5]:
missing_events = RECO.event.isin(evtinfo.evt_number.values)
display(missing_events.values)
print("Any missing events:", not missing_events.all())

array([ True,  True,  True, ...,  True,  True,  True])

Any missing events: False

# change of tact, whats in event 62

it looks wack

In [6]:
display(RECO[RECO.event == 62])

,event,time,npeak,Xpeak,Ypeak,nsipm,X,Y,Xrms,Yrms,Z,Q,E,Qc,Ec,track_id,Ep
72450,62,1.256642e+08,3,-316.36534,197.088191,1,149.925,75.875,0.0,0.0,1.418426,7.420290,66.000000,-1.0,0.000161,-1,-1.0
72451,62,1.256642e+08,3,-316.36534,197.088191,1,-373.775,245.425,0.0,0.0,8.556776,6.028986,635.555557,-1.0,0.001899,-1,-1.0
72452,62,1.256642e+08,3,-316.36534,197.088191,1,-359.225,229.875,0.0,0.0,8.556776,9.217391,971.666640,-1.0,0.002588,-1,-1.0
72453,62,1.256642e+08,3,-316.36534,197.088191,1,-359.225,260.975,0.0,0.0,8.556776,5.101449,537.777803,-1.0,0.001543,-1,-1.0
72454,62,1.256642e+08,3,-316.36534,197.088191,1,-389.325,184.225,0.0,0.0,11.946949,7.072464,318.754580,-1.0,0.000891,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75755,62,1.256642e+08,3,-316.36534,197.088191,1,-359.225,245.425,0.0,0.0,49.299420,7.188406,569.856921,-1.0,0.001581,-1,-1.0
75756,62,1.256642e+08,3,-316.36534,197.088191,1,-343.675,198.775,0.0,0.0,49.299420,5.681159,450.370816,-1.0,0.001194,-1,-1.0
75757,62,1.256642e+08,3,-316.36534,197.088191,1,-343.675,214.325,0.0,0.0,49.299420,5.101449,404.414584,-1.0,0.001068,-1,-1.0
75758,62,1.256642e+08,3,-316.36534,197.088191,1,-343.675,229.875,0.0,0.0,49.299420,8.347826,661.769347,-1.0,0.001749,-1,-1.0
75759,62,1.256642e+08,3,-316.36534,197.088191,1,-328.125,245.425,0.0,0.0,49.299420,5.159420,409.010204,-1.0,0.001092,-1,-1.0

so it has hits...interesting yet annoying...

In [7]:
reco_events = set(RECO.event.unique())
dst_events = set(DST.event.unique())
evtinfo_events = set(evtinfo.evt_number.unique())

# Check if all sets are equal
all_equal = reco_events == dst_events == evtinfo_events
print("Do all tables share the same unique event numbers?", all_equal)

Do all tables share the same unique event numbers? True

In [10]:
check_lengths(evtinfo.evt_number.unique(), RECO.event.unique())

In [16]:
file = 'Bi214_CATHODE_SURF_NEXT100_0000.sophronia.h5'
RECO = load_dst(file, 'RECO', 'Events')

with tb.open_file(file, "r") as h5in:
    check_lengths(h5in.root.Run.events, RECO.event.unique())